:root {
    --settings-backdrop: #0009;
    --settings-background: #070709;
    --settings-font-color: #eee;
    --setting-dropdown-background-image: url('../icon/dark/setting_dropdown.png');

    --focus-outline: #5af;
    --container-box-shadow: #0004;
    --recording-input-outline: #f22;
    --setting-input-background: #222;
    --sidebar-item-color-hover: #7df;
    --sidebar-item-reset-active-color: #f22;

    --scrollbar-background: #000;
    --scrollbar-thumb-background: #222;
    --scrollbar-thumb-background-hover: #333c;

    --checkbox-background: #333;
    --checkbox-background-hover: #444;

    --keybind-button-border: #237;
    --keybind-button-color: #000;
    --keybind-button-background: #5ae;
    --keybind-button-border-hover: #5ae;
    --keybind-button-background-hover: #7df;

    --description-color: #bbb;
    --description-title-color: #fff;
    --description-header-color: #7df;
    --description-code-color: #db7;
    --description-link-color: #39f;

    --tooltip-color: #000;
    --tooltip-background: #f43;
    --tooltip-border: #f11;
    --tooltip-box-shadow: #0006;
    --tooltip-arrow: #f32;
}
