.settings-container {
    position: absolute;

    background: var(--backdrop);

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-container *:focus {
    outline: 1px solid var(--focus-outline);
}

#tooltip {
    position: absolute;
    top: 0;
    left: 0;

    background: var(--tooltip-background);
    border: 1px solid var(--tooltip-border);

    width: auto;
    height: 32px;

    padding: 4px;

    display: none;

    box-shadow: 0 0 10px 4px var(--tooltip-box-shadow);
}
#tooltip::after {
    content: '';

    position: absolute;
    bottom: 100%;
    left: 0;

    border: 5px solid;
    border-color: #0000 #0000 var(--tooltip-arrow) #0000;
}

.settings-menu {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 65px 1fr;

    grid-template-areas: 'searchbar searchbar' 'sidebar window';

    background: var(--background);

    width: 770px;
    height: 90vh;
}

.searchbar-container {
    grid-area: searchbar;
    width: 100%;
    height: 100%;

    padding: 12px;

    z-index: 1;
    box-shadow: 0 0 20px 15px var(--container-box-shadow);
    background: var(--background);
}

.searchbar {
    width: 100%;
    height: 100%;

    color: var(--font-color);
    font-size: 100%;

    padding: 12px;

    background: var(--setting-input-background);
    border: none;
}

.sidebar-container {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 1.2em;

    padding: 14px;

    box-shadow: 0 0 20px 15px var(--container-box-shadow);
    background: var(--background);
}
.sidebar-container .top, .sidebar-container .bottom {
    display: flex;
    flex-direction: column;
}
.sidebar-container .top {
    justify-content: normal;
}

.link {
    cursor: pointer;
}

.sidebar-item {
    color: var(--font-color);
    text-decoration: none;
    cursor: pointer;
}
.sidebar-item:hover {
    font-weight: 500;
    color: var(--sidebar-item-color-hover);
}
.sidebar-item:focus {
    outline: none;
}
.sidebar-item#reset[active] {
    color: var(--sidebar-item-reset-active-color);
    font-weight: 600;
}

.window-container {
    grid-area: window;

    padding: 14px;

    overflow: auto;

    scroll-behavior: smooth;
}

.description {
    color: var(--description-color);
    margin-bottom: 8px;
}
.description .title {
    font-weight: 600;
    color: var(--description-title-color);
}
.description .header {
    font-size: 150%;
    font-weight: 700;
    color: var(--description-header-color);
}
.description .code {
    font-family: consolas, monospace;
    color: var(--description-code-color);
}
.description .link {
    color: var(--description-link-color);
    text-decoration: underline;
}

.setting, .setting-header {
    margin-bottom: 22px;
}
.setting-checkbox {
    display: flex;
    flex-direction: row;
}

label.checkbox {
    margin-right: 8px;
}
label.checkbox input {
    display: none;
}
label.checkbox span {
    color: var(--font-color);

    width: 22px;
    height: 22px;
    border-radius: 1px;

    text-align: center;

    display: block;

    background-color: var(--checkbox-background);
}
label.checkbox span:hover {
    background-color: var(--checkbox-background-hover);
}
label.checkbox input:checked + span::before {
    content: '\2713';
}

.setting .setting-input {
    height: 30px;
    border: none;
    background-color: var(--setting-input-background);

    padding: 5px;
    color: var(--font-color);

    width: 100%;
}
.setting .setting-input.recording {
    outline-color: var(--recording-input-outline);
}
.setting .setting-input input {
    border: inherit;
    background: inherit;
    color: inherit;
    font: inherit;

    width: 100%;
    height: 32px;
}

.keybind {
    position: relative;
}
.keybind input:focus ~ .buttons button,
.keybind .buttons:hover button {
    display: unset;
}

.keybind .buttons {
    position: absolute;
    right: 4px;

    top: 0;
    bottom: 0;
}
.keybind .buttons button {
    display: none;

    outline: none;
    border: 1px solid var(--keybind-button-border)

    color: var(--keybind-button-color);
    background: var(--keybind-button-background);
}
.keybind .buttons button:hover {
    border-color: var(--keybind-button-border-hover);
    background: var(--keybind-button-background-hover);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--scrollbar-background);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-background);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-background-hover);
}
::-webkit-scrollbar-track {
    width: 0;
    height: 0;
}
