:root {
    --settings-backdrop: #0004;
    --settings-background: #eee;
    --settings-font-color: #000;
    --setting-dropdown-background-image: url('../icon/light/setting_dropdown.png');

    --focus-outline: #47f;
    --container-box-shadow: #0002;
    --recording-input-outline: #f22;
    --setting-input-background: #ddd;
    --sidebar-item-color-hover: #39f;
    --sidebar-item-reset-active-color: #d44;

    --scrollbar-background: #ccc;
    --scrollbar-thumb-background: #aaa;
    --scrollbar-thumb-background-hover: #888c;

    --checkbox-background: #ccc;
    --checkbox-background-hover: #bbb;

    --keybind-button-border: #237;
    --keybind-button-color: #000;
    --keybind-button-background: #5ae;
    --keybind-button-border-hover: #5ae;
    --keybind-button-background-hover: #7df;

    --description-color: #111;
    --description-title-color: #000;
    --description-header-color: #19f;
    --description-code-color: #f31;
    --description-link-color: #39f;

    --tooltip-color: #000;
    --tooltip-background: #f43;
    --tooltip-border: #f11;
    --tooltip-box-shadow: #0003;
    --tooltip-arrow: #f32;
}
