.settings-container {
    width: 100vw;
    height: 100vh;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--settings-backdrop);

    z-index: 2;
}
.settings-container *:focus {
    outline: 1px solid var(--focus-outline);
}

#tooltip {
    width: auto;
    height: 32px;

    position: absolute;
    top: 0;
    left: 0;

    display: none;

    padding: 4px;

    background: var(--tooltip-background);
    color: var(--tooltip-color);

    border: 1px solid var(--tooltip-border);
    box-shadow: 0 0 10px 4px var(--tooltip-box-shadow);
}
#tooltip::after {
    position: absolute;
    bottom: 100%;
    left: 0;

    border: 5px solid;
    border-color: #0000 #0000 var(--tooltip-arrow) #0000;

    content: '';
}

.settings-menu {
    width: 770px;
    height: 90vh;

    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas: 'searchbar searchbar' 'sidebar window';

    background: var(--settings-background);
}

.searchbar-container {
    width: 100%;
    height: 100%;

    padding: 12px;

    z-index: 1;

    grid-area: searchbar;

    background: var(--settings-background);
    box-shadow: 0 0 20px 15px var(--container-box-shadow);
}

.searchbar {
    width: 100%;
    height: 100%;

    padding: 12px;

    background: var(--setting-input-background);
    color: var(--settings-font-color);

    border: none;

    font-size: 100%;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: sidebar;

    padding: 14px;

    background: var(--settings-background);
    box-shadow: 0 0 20px 15px var(--container-box-shadow);

    font-size: 1.2em;
}
.sidebar-container .top, .sidebar-container .bottom {
    display: flex;
    flex-direction: column;
}
.sidebar-container .top {
    justify-content: normal;
}

.link {
    cursor: pointer;
}

.sidebar-item {
    color: var(--settings-font-color);

    cursor: pointer;
    text-decoration: none;
}
.sidebar-item:hover {
    color: var(--sidebar-item-color-hover);
    font-weight: 500;
}
.sidebar-item:focus {
    outline: none;
}
.sidebar-item.reset[active] {
    color: var(--sidebar-item-reset-active-color);
    font-weight: 600;
}

.window-container {
    grid-area: window;

    padding: 14px;

    overflow: auto;
}

.description {
    margin-bottom: 8px;

    color: var(--description-color);

    user-select: text;
}
.description .title {
    color: var(--description-title-color);
    font-weight: 600;
}
.description .header {
    color: var(--description-header-color);
    font-size: 150%;
    font-weight: 700;
}
.description .code {
    color: var(--description-code-color);
    font-family: consolas, monospace;
}
.description .link {
    color: var(--description-link-color);
    text-decoration: underline;
}

.setting-dropdown {
    width: 30px;
    height: 30px;

    background-image: var(--setting-dropdown-background-image);
}

.setting, .setting-header {
    margin-bottom: 22px;
}
.setting-checkbox label {
    display: flex;
    flex-direction: row;
}

label.checkbox {
    margin-right: 8px;
}
label.checkbox input {
    display: none;
}
label.checkbox span {
    width: 22px;
    height: 22px;

    display: block;

    border-radius: 1px;

    color: var(--settings-font-color);
    background: var(--checkbox-background);

    text-align: center;
}
label.checkbox span:hover {
    background: var(--checkbox-background-hover);
}
label.checkbox input:checked + span::before {
    content: '\2713';
}

.setting-input-container {
    width: 100%;

    position: relative;

    display: grid;
    grid-template-columns: auto min-content;
}

.setting .setting-input {
    width: 100%;
    height: 30px;

    padding: 5px;

    background: var(--setting-input-background);
    color: var(--settings-font-color);

    border: none;
}
.setting .setting-input.recording {
    outline-color: var(--recording-input-outline);
}
.setting .setting-input input {
    width: 100%;
    height: 32px;

    background: inherit;
    color: inherit;

    border: inherit;
    font: inherit;
}

.setting .setting-input[type=range] {
    height: 8px;

    margin: auto;
    padding: 0;

    -webkit-appearance: none;
}
.setting .setting-input[type=range]:focus {
    outline: none;
}
.setting .setting-input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}
.setting .setting-input[type=range]::-webkit-slider-thumb {
    width: 9px;
    height: 24px;

    background: var(--setting-slider-thumb);

    box-shadow: 0 0 3px 2px #0002;

    -webkit-appearance: none;
}
.setting .setting-input[type=range]:hover::-webkit-slider-thumb {
    background: var(--setting-slider-thumb-hover);

    -webkit-appearance: none;
}

.slider-thumb-label {
    width: 0;
    height: 0;

    position: absolute;
    top: -14px;

    display: grid;
    justify-content: center;

    color: var(--color);

    white-space: nowrap;

    pointer-events: none;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;

    background: var(--scrollbar-background);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-background);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-background-hover);
}
::-webkit-scrollbar-track {
    width: 0;
    height: 0;
}
