:root {
    --background: #070709;
    --color: #eee;

    --ui-background: #09090b;

    --menu-background: #09090a;
    --menu-border-color: #222;
    --menu-separator: #9993;
    --menu-item-hover: #333;
    --menu-item-active: #444;

    --menu-item-disabled-color: #eee5;
    --menu-item-disabled-hover: #3332;
    --menu-item-disabled-active: #3332;

    --menubar-item-border-hover: #3afd;
    --menubar-item-background-hover: #4af5;
    --menubar-item-border-active: #3afe;
    --menubar-item-background-active: #4af7;

    --debugger-box-shadow: #0005;
    --debugger-odd-item-background: #ffffff07;
    --debugger-item-background-hover: #fff1;
}
