* {
    box-sizing: inherit;

    touch-action: none;
}

:root {
    background: var(--background);
    color: var(--color);

    font: 14px segoe ui, sans-serif;

    overflow: hidden;
    box-sizing: border-box;

    user-select: none;
    user-drag: none;
    -moz-user-select: none;
}

body {
    margin: 0;
}

.loading-circle {
    width: 82px;
    height: 82px;

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    margin: auto;
}
.loading-circle::after {
    width: 82px;
    height: 82px;

    display: block;

    border: 8px solid;
    border-radius: 50%;
    border-color: #777 #777 #777 transparent;

    animation: rotate 1.4s linear infinite;

    content: '';
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.debugger {
    width: min-content;
    height: min-content;

    position: absolute;

    top: 20px;
    left: 0;
    right: 0;

    margin: auto;

    background: var(--ui-background);

    display: grid;
    grid-auto-flow: column;
    grid-auto-rows: 48px;
    grid-auto-columns: 48px;

    box-shadow: 0 0 7px 4px var(--debugger-box-shadow);
}
.debugger div:nth-child(odd) {
    background: var(--debugger-odd-item-background);
}
.debugger div:not(.disabled):hover {
    background: var(--debugger-item-background-hover);
}
.debugger img {
    transition: transform 40ms;
}
.debugger div:not(.disabled):not(:active):hover img {
    transform: scale(1.125);
}

.window {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 23px 21px auto;
    grid-template-areas: 'menubar menubar' 'toolbar toolbar' 'sidebar canvas';
}

.menubar {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    padding: 2px;

    grid-area: menubar;

    background: var(--ui-background);
}

.toolbar {
    width: 100%;
    height: 100%;

    display: flex;
    grid-area: toolbar;

    background: var(--ui-background);

    box-shadow: 0 0 7px 1px #0003;
}

.sidebar {
    width: 100%;
    height: 100%;

    background: var(--ui-background);

    box-shadow: 0 0 4px 1px #0002;
}

.sidebar-button {
    width: 22px;
    height: 22px;

    grid-area: canvas;

    color: var(--color);
    line-height: 22px;
    font-size: 22px;

    text-align: center;

    z-index: 1;
}
.sidebar-button:hover {
    color: var(--menubar-item-border-active);
}
.sidebar-button::after {
    content: '\2039\2039';
}
.sidebar-button[sidebar-hidden]::after {
    content: '\203a\203a';
}

.canvas {
    width: 100%;
    height: 100%;

    grid-area: canvas;

    background: var(--background);

    box-shadow: inset 0 0 9px 2px var(--debugger-box-shadow);
}
