* {
    box-sizing: inherit;

    user-select: none;
    user-drag: none;
    -moz-user-select: none;

    touch-action: none;
}

:root {
    background: var(--background);
    color: var(--color);

    font: 14px segoe ui, sans-serif;

    overflow: hidden;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.window {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 23px 21px auto;
    grid-template-areas: 'menubar menubar' 'toolbar toolbar' 'sidebar canvas';
}

.menubar {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    padding: 2px;

    grid-area: menubar;

    background: var(--background);
}

.toolbar {
    width: 100%;
    height: 100%;

    display: flex;
    grid-area: toolbar;

    background: var(--background);

    box-shadow: 0 0 7px 1px #0003;
}

.sidebar {
    width: 100%;
    height: 100%;

    background: var(--background);

    box-shadow: 0 0 4px 1px #0002;
}

.canvas {
    width: 100%;
    height: 100%;

    grid-area: canvas;

    background: var(--background);
}
