
* {
    box-sizing: inherit;
    user-select: none;
}

:root {
    box-sizing: border-box;
    background: #eee;
    font: 14px segoe ui, sans-serif;

    overflow: hidden;
}

body {
    margin: 0;
}

.window {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 23px 48px auto;
    grid-template-areas: 'menubar menubar' 'toolbar toolbar' 'sidebar canvas';
}
.window[hide-ui] {
    grid-template-columns: 0 auto;
    grid-template-rows: 0 0 auto;
}

.menubar {
    width: 100%;
    height: 100%;
    grid-area: menubar;

    display: flex;
    flex-direction: row;

    padding: 2px;
}

.toolbar {
    width: 100%;
    height: 100%;
    grid-area: toolbar;
    display: flex;

    box-shadow: 0 0 7px 1px #0003;
}

.toolbar-icon {
    background: #eee;
}
.toolbar-icon:hover {
    background: #eee6;
}

.sidebar {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;

    grid-area: sidebar;

    box-shadow: 0 0 4px 1px #0002;
}

.canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;

    grid-area: canvas;
}
